<table class="table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>URL</th>
  </tr>
  <% @data.each do |d| %>
  <tr>
    <td><%= d["id"] %></td>
    <td><%= d["title"] %></td>
    <td><%= link_to d["url"], d["url"], target: :_blank %></td>
  </tr>
  <% end %>
</table>